@charset "ISO-8859-1";
/*  Tipo de letra para los formularios*/
@import url('https://fontsfonts.googleapis.com/css2?family=Concert+One&display=swap');
/*  Tipo de letra para el body*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
/*  Tipo de letra para titulos*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');

/*
  COLORES USADOS
  --TITULOS
  #5F9E8B
  --BOTONES
  #3fb8af
  --FONDO
  background: rgb(9,188,186);
  background: linear-gradient(90deg, rgba(9,188,186,1) 0%, rgba(78,90,214,1) 22%, rgba(78,90,214,1) 76%, rgba(9,188,186,1) 100%);
  'Signika', sans-serif;*/


  /* CSS de la pagina 1*/
  /* */
body{

    margin: 0;
    font-family:'Concert One', cursive; 
    background: rgb(63,184,175);
    background: linear-gradient(90deg, rgba(63,184,175,1) 0%, rgba(78,142,214,1) 22%, rgba(78,142,214,1) 76%, rgba(63,184,175,1) 100%);
   padding: 44px;   /*espaciado entre el contenedor de inicio de sesión y la pagina */
}
h1{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 50px;
}

p{
  color: black;
  font-family: 'Signika', sans-serif;
}
.contenederportada{
height:50%; /* Altura*/
display: grid; /* organizar en  columnas*/
grid-template-columns: 50% 50%; /* Tamaño que tomara la columna*/
border-radius: 10px;
overflow: hidden;/* Oculta el contenido que se desborde */


}

.login-izquierda{
  display: flex; /* ajusta el contenido segun el espacio disponible*/
  flex-direction: column ;  /*dirección en columna*/ 
   padding-left: 150px;
   background-color: white;
}

.login-derecha{
  
  background: #5F9E8B;
  display: flex;
  justify-content: center;
  
}

.login-derecha img{
  width: 75%; 
 
}

.titulo-login{
    margin-bottom: 15px;


}
.titulo-login p{
 font-size: 25px;
 }

 .titulo-login h1{
  color: #5F9E8B;
 }
.fomulario-inicio{
  width: 450px;

  
  
}

.formulario-valores {
   display: inline-block; /*Alinea los input*/
   background-color: white;
   margin-bottom: 10px;
   position: relative;
   padding:  0 10px; /* para eje Y y X*/
   font-size: 20px;
}
a{
	
        text-decoration: none; 
        font-weight: bold; 
        color: black;
}


.contenederportada input{
 
  margin-top: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 40px;
  padding: 0 2rem;  /* para Y, sera 2 veces el tamaño de la fuente*/
  width: 125%;
  outline: none; /* elimina contorno al dar clic en el input*/
  width: 125%;
  margin-top: 5px;
 

}


.enviar{
  border: none;/* elimina bordes*/
  background-color:#3fb8af;
  display: block;/* elementos uno debajo de otro*/
  margin: 0 auto; /* Centra horizontalmente el elemento*/
  margin-top: 25px;
  padding: 10px 20px;
  color: #ffffff; 
  border: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 85px;

}
 

  /* CSS del formulario registro*/
  .formc{
   
    justify-content: center;
    align-items: center;   /* alinea en el centro*/
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: #ffffff;
    display: grid;
    margin: auto;
    place-items: center;/* alinea en el centro, usa grid*/

  }
  label {
    
    margin-top: 20px;
    color: #333333; 
    font-weight: bold;
    display: grid;
    font-size: 18px;
  }
  .titulo-form{
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    font-weight: 500;
    display: block;
  }
  .titulo-form h1 {
  margin-right: 10px;
  color: #5F9E8B;
}

.titulo-form img {
  max-height: 100%;
}
   .titulo-form p{
   font-size: 25px;
   }

 

  .formularioC input{
    width: 125%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #cccccc;
        border-radius: 4px;


  }
 

  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
   .enviarForm{
    border: none;
    background-color:#3fb8af;
    display: block;/* elementos uno debajo de otro*/
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px 20px;
    color: #ffffff; 
    border: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    
  }

