@charset "ISO-8859-1";
/*  Tipo de letra para los formularios*/
@import url('https://fontsfonts.googleapis.com/css2?family=Concert+One&display=swap');
/*  Tipo de letra para el body*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
/*  Tipo de letra para titulos*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');

/*
  COLORES USADOS
  --TITULOS
  #5F9E8B
  --BOTONES
  #3fb8af
  --FONDO
  background: rgb(9,188,186);
  background: linear-gradient(90deg, rgba(9,188,186,1) 0%, rgba(78,90,214,1) 22%, rgba(78,90,214,1) 76%, rgba(9,188,186,1) 100%);
  'Signika', sans-serif;*/


  /* CSS de la pagina 1*/
  
  body{
    background-color:   #9de0ad;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
  }
  
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;    /* permite que el contenedor ocupe toda la pantalla*/
  border-radius: 5px;
}

.registrosjsp {
  background-color: white;
  padding: 30px;
  max-width: 80%;
  text-align: center;
  border-radius: 5px;
}

.registrosjsp h1 {
  font-size: 32px;
}

.registrosjsp a {
  display: inline-block;
  background-color:   #3fb8af;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
}
  